@import './variables';

@mixin sub-title {
  width: 100%;
  font-size: $sub-title-font-size;
  color: $secondary-color;
  line-height: 1;
  padding-top: $section-margin-bottom * 0.5;
  padding-bottom: $section-margin-bottom * 0.5;

  @media screen and (max-width: 900px) {
    padding-left: 0;
    padding-right: 0;

    font-size: $medium-font-size;
  }
}

@mixin section-title {
  display: block;
  font-size: $medium-font-size;
  color: $secondary-color;
  line-height: 1;
  border-top: $border;
  border-bottom: $border;
  @include v-main-padding;
}

@mixin header-slider {
  height: calc(
    100vh - var(--max-menu-height) - #{$section-margin-bottom} - #{$sub-title-font-size}
  );
}

@mixin v-main-padding {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
}

@mixin text-padding {
  padding-top: $main-padding;
  padding-bottom: $main-padding * 2;
}

@mixin big-text-padding {
  padding-top: $main-padding;
  padding-bottom: $section-margin-bottom;
}

@mixin posts {
  display: flex;
  flex-wrap: wrap;
  margin: -$menu-margin * 0.5;
  padding: $menu-margin 0;
}

@mixin post {
  width: 50%;
  padding: $menu-margin * 0.5;
}
