$main-color: #4d7494;
$secondary-color: #1dff00;
$link-color: #707070;
$wrapper-max-width: 60rem;
$main-padding: 10px;
$menu-margin: 5px;
$sub-title-font-size: 4rem;
$medium-font-size: 2rem;
$theinhardt: Theinhardt-Light, Helvetica, Arial, sans-serif;
$rand: Rand-Medium, Helvetica, Arial, sans-serif;
$section-margin-bottom: 4rem;
