$main-color: #4d7494;
$secondary-color: #4d7494;
$link-color: #b9b9b9;
$wrapper-max-width: 70rem;
$wrapper-margin-left: 20%;
$main-padding: 8px;
$menu-margin: 5px;
$main-line-height: 1.2;
$sub-title-font-size: 5rem;
$medium-font-size: 3rem;
$small-font-size: 1rem;
$default-font-size: 1.35rem;
$theinhardt: Theinhardt-Light, Helvetica, Arial, sans-serif;
$rand: Rand-Medium, Helvetica, Arial, sans-serif;
$section-margin-bottom: 4rem;
$border-width: 1px;
$border-color: black;
$border-style: solid;
$border: $border-style $border-color $border-width;
$padding-row: 12rem;
$menu-height: 5rem;
