@font-face {
  font-family: Theinhardt-Light;
  src: url('~/static/fonts/Theinhardt-Extended-Light.woff2');
}

@font-face {
  font-family: Rand-Medium;
  src: url('~/static/fonts/Rand-Medium.woff2');
}

@font-face {
  font-family: Rand-Medium-Italic;
  src: url('~/static/fonts/Rand-Medium-Italic.woff2');
}

@font-face {
  font-family: Rand-Heavy;
  src: url('~/static/fonts/Rand-Heavy.woff2');
}

@font-face {
  font-family: Rand-Heavy-Italic;
  src: url('~/static/fonts/Rand-Heavy-Italic.woff2');
}

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  margin: 0;
  font-family: Rand-Medium, Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.35rem;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
  color: inherit;
  font-weight: normal;
  font-size: inherit;
  text-decoration: inherit;
}

strong {
  font-family: Rand-Heavy, Helvetica, Arial, sans-serif;
}

strong > em,
em > strong {
  font-family: Rand-Heavy-Italic, Helvetica, Arial, sans-serif;
}

em {
  font-family: Rand-Medium-Italic, Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
