@font-face {
  font-family: Theinhardt-Light;
  src: url('~/static/fonts/Theinhardt-Extended-Light.woff2');
}

@font-face {
  font-family: Rand-Medium;
  src: url('~/static/fonts/Rand-Medium.woff2');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Rand-Medium, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
  margin: 0;
  color: inherit;
  font-weight: normal;
  font-size: inherit;
  text-decoration: inherit;
}
